Package: com.eamontracey.secretshot
Name: SecretShot
Version: 1.1.1
Architecture: iphoneos-arm
Description: Block Snapchat screenshot and screen recording detection
Maintainer: ichitaso
Author: Eamon Tracey
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Depiction: https://cydia.ichitaso.com/depiction/secretshot.html
SileoDepiction: https://cydia.ichitaso.com/depiction/secretshot.json
Icon: https://raw.githubusercontent.com/ichitaso/SecretShot/main/SecretShotPreferences/Resources/icon%403x.png
